# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
# Test
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  aqua_repo_scanning:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: docker:18.09-git
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    working_directory: /tmp/myscan # Define a working directory in order to retrieve artifacts
    steps:
      - checkout
      - setup_remote_docker # Set up remote docker in order to use docker socket for CircleCI
      - run:
          name: Retrieve Aqua Scanner and scan build 
          command: |
            mkdir scanreporesult
            export AQUA_KEY=$AQUA_KEY
            export AQUA_SECRET=$AQUA_SECRET
            export trivyVersion=0.31.2
            export TRIVY_RUN_AS_PLUGIN=aqua
            curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b . v${trivyVersion}
            ./trivy fs --security-checks config,vuln,secret .
      - store_artifacts:
          path: /tmp/myscan/scanreporesult # Retrieve all the output files in the scanresult folder created
          destination: scanreporesult # Optional line. Set the output folder name as scanresult in the Artifacts tab
          
  build_app:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: docker:18.09-git
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    working_directory: /tmp/myscan # Define a working directory in order to retrieve artifacts
    steps:
      - checkout
      - setup_remote_docker # Set up remote docker in order to use docker socket for CircleCI
      - run:
          name: Build APP
          command: echo Container Image has been built!!
          
  build_image:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: docker:18.09-git
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    working_directory: /tmp/myscan # Define a working directory in order to retrieve artifacts
    steps:
      - checkout
      - setup_remote_docker # Set up remote docker in order to use docker socket for CircleCI
      - run:
          name: Build image
          command: echo APP has been built!!
          
  aqua_image_scanning:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: docker:18.09-git
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    working_directory: /tmp/myscan # Define a working directory in order to retrieve artifacts
    steps:
      - checkout
      - setup_remote_docker # Set up remote docker in order to use docker socket for CircleCI
      - run:
          name: Build image
          command: docker build -t scannercli-ci-test:${CIRCLE_SHA1} .
      - run:
          name: Retrieve Aqua Scanner and scan build 
          command: |
            mkdir scanresult
            docker login registry.aquasec.com -u $AQUADEV_USERNAME -p $AQUADEV_PASS
            docker run -e BUILD_JOB_NAME=$CI_JOB_NAME -e BUILD_URL=$CI_JOB_URL -e BUILD_NUMBER=$CI_JOB_ID --rm -v /tmp:$CI_PROJECT_DIR -v /var/run/docker.sock:/var/run/docker.sock $AQUA_REGISTRY/scanner:2022.4.46 scan --register --registry "CI/CD_andres_images" --local $DOCKER_REGISTRY_IMAGE:$IMAGE_TAG --host $AQUA_HOST --token $AQUA_SCANNER_TOKEN --show-negligible --html > aquascan.html
          # Add below for debugging purposes
          #-e SCALOCK_LOG_LEVEL=DEBUG 
      - store_artifacts:
          path: /tmp/myscan/scanresult # Retrieve all the output files in the scanresult folder created
          destination: scanresult # Optional line. Set the output folder name as scanresult in the Artifacts tab
  
  aqua_generate_sbom:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: docker:18.09-git
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    working_directory: /tmp/myscan # Define a working directory in order to retrieve artifacts
    steps:
      - checkout
      - setup_remote_docker # Set up remote docker in order to use docker socket for CircleCI
      - run:
          name: Build image
          command: docker build -t scannercli-ci-test:${CIRCLE_SHA1} .
      - run:
          name: Retrieve Aqua Scanner and scan build 
          command: |
            mkdir scanresult
            docker login registry.aquasec.com -u $AQUADEV_USERNAME -p $AQUADEV_PASS
            docker run -e BUILD_JOB_NAME=$CI_JOB_NAME -e BUILD_URL=$CI_JOB_URL -e BUILD_NUMBER=$CI_JOB_ID --rm -v /tmp:$CI_PROJECT_DIR -v /var/run/docker.sock:/var/run/docker.sock $AQUA_REGISTRY/scanner:2022.4.46 scan --register --registry "CI/CD_andres_images" --local $DOCKER_REGISTRY_IMAGE:$IMAGE_TAG --host $AQUA_HOST --token $AQUA_SCANNER_TOKEN --show-negligible --html > aquascan.html
          # Add below for debugging purposes
          #-e SCALOCK_LOG_LEVEL=DEBUG 
      - store_artifacts:
          path: /tmp/myscan/scanresult # Retrieve all the output files in the scanresult folder created
          destination: scanresult # Optional line. Set the output folder name as scanresult in the Artifacts tab        
     
workflows:
  version: 2
  release:
    jobs:
      - build:
          context: my-scanner # Context set up in Organization Settings that contains the Environment Variables 
