name: build
on:
  push:
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      # Aqua Registry login
      - name: Login to Aqua Registry
        uses: docker/login-action@v1
        with:
          registry: registry.aquasec.com
          username: ${{ secrets.AQUADEV_USERNAME }}
          password: ${{ secrets.AQUADEV_PASS }}  
          
      - name: Run Trivy vulnerability scanner - FS mode
        uses: aquasecurity/trivy-action@0.6.2
        with:
          scan-type: 'fs'
          security-checks: 'vuln,config,secret'
          hide-progress: false
          format: 'sarif'
          #template: '@/contrib/sarif.tpl'
          #template: '@/contrib/html.tpl'
          output: 'repo-scan-results.sarif'
        env:
          AQUA_KEY: ${{ secrets.AQUA_KEY }}
          AQUA_SECRET: ${{ secrets.AQUA_SECRET }}
          TRIVY_RUN_AS_PLUGIN: 'aqua'
          TRIGGERED_BY: 'PUSH'
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        if: always()
        with:
          sarif_file: 'repo-scan-results.sarif'    
       
        
      # Runs docker build 
      - name: Build docker image
        run: sudo docker build -t test:v1 .
          
      # Scan the test Image
      - name: Image Scanning
        run: |
          docker run -e BUILD_JOB_NAME=FRUIT_BANK -e BUILD_NUMBER=${{ github.run_id }} --rm -v /var/run/docker.sock:/var/run/docker.sock registry.aquasec.com/scanner:2022.4.46 scan --register --registry CI/CD_andres_images --local test:v1 --host ${{ secrets.AQUA_HOST }} --token ${{ secrets.AQUA_SCANNER_TOKEN }} --show-negligible --html > aquascan.html
    #Debug: -e SCALOCK_LOG_LEVEL=DEBUG
      - name: Upload Image scanning results to GitHub Security tab
        uses: actions/upload-artifact@v3
        with:
          name: Image Scanning
          path: aquascan.html
    
      - name: SBOM Manifest Generation
        run: |
          curl -sLo install.sh download.codesec.aquasec.com/billy/install.sh
          curl -sLo install.sh.checksum https://github.com/argonsecurity/releases/releases/latest/download/install.sh.checksum
          if ! cat install.sh.checksum | shasum -a 256 ; then
            echo "install.sh checksum failed"
            exit 1
          fi
          sh install.sh
          rm install.sh install.sh.checksum
          billy generate \
              --access-token "${{ secrets.TOKEN_GITHUB }}" \
              --aqua-key "${{ secrets.AQUA_KEY }}" \
            --aqua-secret "${{ secrets.AQUA_SECRET }}" \
            --output sbom.json \
            --artifact-path pom.xml

        # The docker image name:tag of the newly built image
        # --artifact-path "my-image-name:${{ env.tag-version }}" 
        # OR the path to the root folder of your project. I.e my-repo/my-app 
        # --artifact-path "${{env.MY_APP_ROOT}}"
      - name: Upload SBOM results to GitHub Security tab
        uses: actions/upload-artifact@v3
        with:
          name: SBOM
          path: sbom.json
    
